src/main/java/compiler/listeners/SyntaxErrorListener.java
src/main/java/compiler/listeners/SemanticErrorListener.java
src/main/java/compiler/visitors/ReturnFunctionVisitor.java
src/main/java/compiler/visitors/Nodes/Node.java
src/main/java/compiler/visitors/Nodes/ASTNode.java
src/main/java/compiler/visitors/Nodes/PrintNode.java
src/main/java/compiler/visitors/Nodes/VarDeclareNode.java
src/main/java/compiler/visitors/Nodes/IfElseNode.java
src/main/java/compiler/visitors/Nodes/WhileNode.java
src/main/java/compiler/visitors/Returnable.java
src/main/java/compiler/visitors/SyntaxVisitor.java
src/main/java/compiler/visitors/Identifiers/Identifier.java
src/main/java/compiler/visitors/Identifiers/Variable.java
src/main/java/compiler/visitors/NodeElements/UnaryExpr.java
src/main/java/compiler/visitors/NodeElements/CharExpr.java
src/main/java/compiler/visitors/NodeElements/IntExpr.java
src/main/java/compiler/visitors/NodeElements/AssignRHS.java
src/main/java/compiler/visitors/NodeElements/Types/TYPE.java
src/main/java/compiler/visitors/NodeElements/Types/ArrType.java
src/main/java/compiler/visitors/NodeElements/Types/BasicType.java
src/main/java/compiler/visitors/NodeElements/Types/Type.java
src/main/java/compiler/visitors/NodeElements/Types/PairType.java
src/main/java/compiler/visitors/NodeElements/BinExpr.java
src/main/java/compiler/visitors/NodeElements/StringExpr.java
src/main/java/compiler/visitors/NodeElements/IdentExpr.java
src/main/java/compiler/visitors/NodeElements/BoolExpr.java
src/main/java/compiler/visitors/NodeElements/Pair.java
src/main/java/compiler/visitors/NodeElements/ArrayLiter.java
src/main/java/compiler/visitors/NodeElements/Expr.java
src/main/java/compiler/visitors/SymbolTable.java
src/main/java/compiler/visitors/SemanticVisitor.java
src/main/java/compiler/Main.java
src/main/java/antlr/BasicLexer.java
src/main/java/antlr/BasicParser.java
src/main/java/antlr/BasicParserVisitor.java
src/main/java/antlr/BasicParserBaseVisitor.java
